@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  cursor:pointer
}
@media screen and (min-width: 768px) {
 

  /* WebKit scrollbar styling (Chrome, Safari) */
  *::-webkit-scrollbar {
    width: 20px; /* Scrollbar width for WebKit browsers */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #A18565; 
    height: 10px;

    border-radius: 100vw; /* Fully rounded corners for pill shape */
    /* Thumb (scroll handle) color */
  }

  *::-webkit-scrollbar-track {
    background-color: #EDECE9; /* Track (scroll background) color */
    border-radius: 100vw; /* Fully rounded corners for pill shape */

  }
   /* Firefox scrollbar styling */
   @supports(scrollbar-color:red blue){

     * {
      scrollbar-width: thin; /* 'thin', 'auto', or 'none' */
      scrollbar-color: #A18565 #EDECE9; /* thumb color, track color */
    }
   }
}

.carousel {
    scrollbar-width: none; 
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .carousel::-webkit-scrollbar {
    width: 0; /* For WebKit browsers (Chrome, Safari) */
    display: none; /* For older versions of WebKit */
  }
  *{
    scroll-behavior: smooth;
  }
  
  @keyframes scroll {
    to{
      transform: translateX(-50%);
    }
    
    
  }
  .active{
    animation: scroll 10s linear infinite ;
  }
  